@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
    font-family: 'Poppins', sans-serif !important;
}

canvas {
    font-family: 'Poppins', sans-serif;
}

.c-body {
    margin: none;
}


.disabled {
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .flex-custom {
        flex: 0 0 50%;
        max-width: 49%;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.animate-bounce {
    animation: bounce 1s infinite alternate;
}

.btn-warning {
    background-color: #ffcb3d;
}

.view-more {
    border-radius: 10px;
    background-color: #ebedef;
}

.view-more:hover, .view-more:hover a {
    color: white;
    cursor: pointer;
    background-color: #3c4b64;
}

.view-more a {
    text-decoration: none;
    color: #6c757d;
}

.table-admin {
    font-size: 10px;
    color: #3c4b64;
    background-color: #ffcb3d;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
}

.table-developer {
    font-size: 10px;
    color: #ffffff;
    background-color: #d95353;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
}

.table-superadmin {
    font-size: 10px;
    color: #ffffff;
    background-color: #13abc3;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
}

.c-sidebar-nav-item .admin {
    font-size: 10px;
    color: #3c4b64;
    background-color: #ffcb3d;
    padding: 3px 10px 3px 10px;
    margin-left: 10px;
    border-radius: 15px;
}

.c-sidebar-nav-item .developer {
    font-size: 10px;
    color: #ffffff;
    background-color: #d95353;
    padding: 3px 10px 3px 10px;
    margin-left: 10px;
    border-radius: 15px;
}

.card, .card .card-header, .card .card-body, .card .card-footer{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link.c-active {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 5px;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link {
    margin: 5px;
    border-radius: 20px;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link:hover {
    background-color: #14a9c3;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.c-nav-account {
    position: absolute; /* or absolute, depending on your layout */
    bottom: 0;
    background-color: #3c4b64;
}

.c-sidebar .c-nav-out:hover {
    background-color: #d95353;
}

.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
    background-color: #14a9c3;
}

.btn-danger {
    background-color: #d95353;
}

.btn-primary, .badge-primary {
    background-color: #0c6c9d;
    border: none;
}

.btn-primary:hover {
    background-color: #537590;
}

.page-item.active .page-link {
    background-color: #0c6c9d;
    border-color: #0c6c9d;
}

.page-link {
    color: #0c6c9d;
}

.page-link:hover {
    color: #0c6c9d;
}

a {
    color: #0c6c9d;
}

.dropdown-item:active {
    background-color: #0c6c9d;
    color: #fff;
}

.dropdown-item:focus,
.dropdown-item:active {
    background-color: #0c6c9d;
    color: #fff;
}

/* =============== */
.dropdown-new {
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:10px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    bottom: 0;
    right: 0;
    margin: 15px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

.dropdown-new .show {
    display: block;
}

.dropdown-options a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding:20px 40px;
}

.dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd
}
/* =============== */

.dropdown-menu {
    border-radius:10px;
}

.dropdown-header {
    border-radius: 10px 10px 0 0;
}

.form-control {
    border: none;
    background-color: #ebedef;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color: #0c6c9d;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}

.searchable-fields {
    padding-left: 5px;
}

.searchable-link {
    padding: 0 5px 0 5px;
}

.searchable-link:hover {
    cursor: pointer;
    background: #eaeaea;
}

.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid~.invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}


.custom-select.form-control-sm {
    padding: 0.25rem 1.5rem;
}
